@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
  
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #222222;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links, #home_link {
    list-style: none;
}

li {
    display:inline-block;
    padding: 0px 20px;
}

li a {
    transition: all 0.3s ease 0s;
}

li a:hover {
    color: #727272;
}
